* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  width: 1000px;
  border: 8px solid #000;
  margin: 5px;
}

.box {
  margin: 5px;
  border: 1px solid #000;
  display: inline-block;
  vertical-align: middle;
  position: relative;

}

/* .one {
  background-color: red;

}

.two {
  background-color: blue;
}

.three {
  background-color: orange;
} */

.listview {
  list-style: none;
}

.heart {
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: red;
  display: none;
}

.scount_30{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}

.scount_5{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

li:hover .heart {
  display: block;
}
